<div class="login">

    <form method="post" action="/admin-dashboard" >
    <label>Enter Item:  </label>
    <input type="text" name="item"><br>

    <label>Enter cost: </label>
    <input type="number" name="cost"><br>

    <label>Enter Quantity: </label>
    <input type="number" name="quantity"><br>

    <button onclick="addItem();"> Add Item </button>
   
    <a href="show-all-items"> Show All Items </button>    
    </form>
</div>