<!-- Firebase App is always required and must be first -->
<script src="https://www.gstatic.com/firebasejs/5.8.2/firebase-app.js"></script>

<!-- Add additional services that you want to use -->
<script src="https://www.gstatic.com/firebasejs/5.8.2/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.8.2/firebase-database.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.8.2/firebase-firestore.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.8.2/firebase-messaging.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.8.2/firebase-functions.js"></script>

<script src="https://www.gstatic.com/firebasejs/5.8.2/firebase.js"></script>
<script>
  // Initialize Firebase
 //var admin = require('firebase-admin');
     //var firebase = require('firebase');
  // Initialize Firebase
  //var config = {
    //apiKey: "AIzaSyDEqR-tbCFvOiSbZVxfE5p827c_AE1ZNJo",
    //authDomain: "expensetracker-b8706.firebaseapp.com",
    //databaseURL: "https://expensetracker-b8706.firebaseio.com",
    //projectId: "expensetracker-b8706",
    //storageBucket: "expensetracker-b8706.appspot.com",
    //messagingSenderId: "263629388387"
  //};
  //firebase.initializeApp(config);


     function forgotPassword(){
        var email = document.getElementById("email").value;
        //reset password
        firebase.auth().sendPasswordResetEmail(email).then(()=> {
            alert("Email sent !!");
            window.location = "/login";
            }).catch((error)=> {
  // Handle Errors here.
            alert(error);
  
  // 
});
    }//forgotPassword

</script> 

<div class="forgot-password">
    <label> Enter your email ID: </label>
    <input type="email" id="email" name="email" required> 
    <button onclick="forgotPassword();"> Send Email</button> <br> 
    <a href="login"> <button type="button" > Login  </button> </a> <br>
    <a href="register"> <button type="button" > Register  </button> </a> <br>

</div>